.example-color {
  div {
    .cell {
      height: 72px;
      width: 136px;
      color: white;
      margin: 10px;
      text-align: center;
      line-height: 72px;
      display: inline-block;
    }
  }

}