@import "../components/index";

*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,ol {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: 300;
}

.example-layout {
  min-height: 100vh;
}
.logo {
  margin: 8px;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}

.example-header {
  box-shadow: 0 2px 8px $box-shadow-color;
  padding-left: $padding-left;


}

.example-main {
  padding-top: 40px;
  padding-bottom: 20px;
}

.example-sider {
  width: 290px;
  border-right: $lighten-border;
  p {
    padding: 0 $padding-left;
    span {
      font-weight: 300;
      padding-bottom: 10px;
      border-bottom: $lighten-border;
      display: inline-block;
      width: 100%;
      color: darken(#ccc, 0.5);
    }
  }
  ul {
    margin-top: 10px;
  }
  li {
    a {
      text-decoration: none;
      width: 100%;
      padding: 10px 10px 10px $padding-left;
      display: block;
      &:hover {
        background: $selected-background;
        color: $hover-color;
      }
    }
  }
}

.example-content {
  padding: 20px 40px;
}

.example-footer {
  //text-align: center;
  font-weight: 300;
  height: 64px;
  line-height: 64px;
  box-shadow: -3px -3px 8px $box-shadow-color;
  background: #000;
  padding-left: $padding-left;
  color: white;
  a {
    color: white;
    text-decoration: underline;
  }
}