
@import "./normalize-and-reset.scss";

.example-layout {
  min-height: 100vh;
}
.logo {
  margin: 8px;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}

.example-header {
  box-shadow: 0 2px 8px $box-shadow-color;
  padding-left: $padding-left;


}

.example-main {
  padding-top: 40px;
  padding-bottom: 20px;
}

.example-sider {
  width: 290px;
  border-right: $lighten-border;
  p {
    padding: 0 $padding-left;
    span {
      font-weight: 300;
      padding-bottom: 10px;
      border-bottom: $lighten-border;
      display: inline-block;
      width: 100%;
      color: darken(#ccc, 0.5);
    }
  }
  ul {
    margin-top: 10px;
  }
  li {
    a {
      text-decoration: none;
      width: 100%;
      padding: 10px 10px 10px $padding-left;
      display: block;
      &:hover {
        background: $selected-background;
        color: $hover-color;
      }
    }
  }
}

.example-content-wrapper {
  padding: 10px 20px;
  .example-content {
    width: 90%;
    margin: 0 auto;
    .api-container {
      margin: 10px;
      h3 {
        font-weight: 400;
        margin: 10px 0;
      }
      p {
        margin: 14px 0;
        font-size: 14px;
        color: #5e6d82;
        line-height: 1.5em;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        background-color: #fff;
        font-size: 14px;
        line-height: 1.5em;
        th:first-child {
          padding-left: 10px;
        }
        th {
          text-align: left;
          white-space: nowrap;
          color: #909399;
          font-weight: 400;
        }
        td {
          color: #606266;
        }
        th,
        td {
          border-bottom: 1px solid #dcdfe6;
          padding: 15px;
          max-width: 250px;
          code {
            background: lighten(#ddd, 5%);
            padding: 4px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}



.example-footer {
  //text-align: center;
  font-weight: 300;
  height: 64px;
  line-height: 64px;
  box-shadow: -3px -3px 8px $box-shadow-color;
  background: #000;
  padding-left: $padding-left;
  color: white;
  a {
    color: white;
    text-decoration: underline;
  }
}