@import "../components/index";

*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,ol {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: 300;
}