.zeroUI-col {
    position: relative;
    $span-prefix: zeroUI-col-span-;
    @for $n from 1 through 24 {
        &.#{$span-prefix}#{$n} {
            width: ($n / 24) * 100%;
        }
    }

    $offset-prefix: zeroUI-col-offset-;
    @for $n from 1 through 24 {
      &.#{$offset-prefix}#{$n} {
        margin-left: ($n / 24) * 100%;
      }
    }

    $pull-prefix: zeroUI-col-pull-;
    @for $n from 1 through 24 {
      &.#{$pull-prefix}#{$n} {
        right: ($n / 24) * 100%;
      }
    }

    $push-prefix: zeroUI-col-push-;
    @for $n from 1 through 24 {
      &.#{$push-prefix}#{$n} {
        left: ($n / 24) * 100%;
      }
    }

    $order-prefix: zeroUI-col-order-;
    @for $n from 1 through 24 {
      &.#{$order-prefix}#{$n} {
        order: $n;
      }
    }

    @media (min-width: 0px) {
      $xs-span-prefix: zeroUI-col-xs-span-;
      @for $n from 1 through 24 {
        &.#{$xs-span-prefix}#{$n} {
            width: ($n / 24) * 100%;
        }
      }
    }

    @media (min-width: 576px) {
      $sm-span-prefix: zeroUI-col-sm-span-;
      @for $n from 1 through 24 {
        &.#{$sm-span-prefix}#{$n} {
            width: ($n / 24) * 100%;
        }
      }
    }

    @media (min-width: 768px) {
      $md-span-prefix: zeroUI-col-md-span-;
      @for $n from 1 through 24 {
        &.#{$md-span-prefix}#{$n} {
            width: ($n / 24) * 100%;
        }
      }
    }

    @media (min-width: 992px) {
      $lg-span-prefix: zeroUI-col-lg-span-;
      @for $n from 1 through 24 {
        &.#{$lg-span-prefix}#{$n} {
            width: ($n / 24) * 100%;
        }
      }
    }

    @media (min-width: 1200px) {
      $xl-span-prefix: zeroUI-col-xl-span-;
      @for $n from 1 through 24 {
        &.#{$xl-span-prefix}#{$n} {
            width: ($n / 24) * 100%;
        }
      }
    }

    @media (min-width: 1600px) {
      $xxl-span-prefix: zeroUI-col-xxl-span-;
      @for $n from 1 through 24 {
        &.#{$xxl-span-prefix}#{$n} {
            width: ($n / 24) * 100%;
        }
      }
    }

}