$border-color: #e2e2e2;
%antd-card-grid-box-shadow {
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
        0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.zeroUI-card {
    border: 1px solid $border-color;
    position: relative;
    border-radius: 4px;
    transition: all 0.3s;
    &-hoverable {
        &:hover {
            @extend %antd-card-grid-box-shadow;
        }
    }
    &-noborder {
        border: none;
    }
    background: #fff;
    &-has-grid {
        .zeroUI-card-content-panel {
            padding: 0;
            position: relative;
            margin-bottom: -1px;
            margin-right: -2px;
        }
    }
    &-title-panel,
    &-content-panel {
        padding-left: 24px;
        padding-right: 24px;
    }

    &-title-panel {
        border-bottom: 1px solid $border-color;
        min-height: 48px;
        line-height: 48px;
        font-weight: bold;
    }

    &-content-panel {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.zeroUI-card-small {
    .zeroUI-card {
        &-title-panel,
        &-content-panel {
            padding-left: 12px;
            padding-right: 12px;
        }

        &-title-panel {
            min-height: 38px;
            line-height: 38px;
            font-size: 14px;
        }

        &-content-panel {
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 14px;
        }
    }
}

.zeroUI-card-grid {
    width: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s;
    &-hoverable:hover {
        @extend %antd-card-grid-box-shadow;
        position: relative;
        z-index: 1;
    }
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}
