@import '../index';

.zeroUI-input-wrapper {
    position: relative;
}

.zeroUI-input {
    height: $btn-height-base;
    line-height: $btn-height-base;
    font-size: $font-size-base;
    padding: 4px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    &-has-icon {
        padding-right: 2em;
    }

    &:focus {
        outline-color: $brand-color;
    }
    &-large {
        height: $btn-height-lg;
        line-height: $btn-height-lg;
        font-size: $font-size-lg;
    }
    &-small {
        height: $btn-height-sm;
        line-height: $btn-height-sm;
        font-size: $font-size-sm;
    }
    & + .zeroUI-icon {
        position: absolute;
        vertical-align: middle;
        fill: #888;
        margin-left: -24px;
        margin-top: 0.5em;
    }

    &-suffix-wrapper {
        position: absolute;
        right: 8px;
        height: 100%;
        top: 0;
        bottom: 0;
    }

    &-prefix-wrapper {
        position: absolute;
        left: 8px;
        height: 100%;
        top: 0;
        bottom: 0;
    }
}
