.zeroUI-dialog {
    background: white;
    position: fixed;
    min-width: 15em;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: 1px solid gray;
    &-mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: fade_out(black, 0.5);
        z-index: 1;
    }
    &-header {
        font-size: 22px;
        padding: 8px 16px;
        border-bottom: 1px solid gray;
    }
    &-main {
        min-height: 6em;
        padding: 8px 16px;
    }
    &-footer {
        border-top: 1px solid gray;
        padding: 8px 16px;
    }
    &-close {
        position: absolute;
        bottom: 100%;
        left: 100%;
        background: white;
        border: 1px solid red;
        width: 1.5em;
        height: 1.5em;
        border-radius: 4px;
        transform: translate(-50%, 50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
