@import '../index.scss';

.zeroUI-checkbox {
    &-wrapper {
        &[data-disabled='true'] {
            cursor: not-allowed;
        }
        position: relative;
    }
    &-label {
        margin-left: 5px;
    }

    @extend %checkbox-base;

    &-indeterminate {
        @extend %checkbox-indeterminate;
    }
}

.zeroUI-checkbox-group {
    display: inline-block;
    & > .zeroUI-checkbox-wrapper {
        margin-right: 5px;
    }
}
