@import "../index";

.zeroUI-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-base;
  height: $btn-height-base;
  padding: 0 1em;
  vertical-align: middle;
  border-radius: $--border-radius;
  border: 1px solid $--border-color;
  background: $--button-bg;

  &-large {
    height: $btn-height-lg;
    font-size: $font-size-lg;
  }

  &-small {
    height: $btn-height-sm;
    font-size: $font-size-sm;
  }

  &:hover {
    border-color: $--border-color-hover;
  }
  &:active {
    background: $--button-active-bg;
  }
  &:focus {
    outline: none;
  }
  > .zeroUI-icon {
    order: 1;
    margin-right: 4px;
  }
  &-content {
    order: 2;
  }
  &-right {
    > .zeroUI-button-content {
      order: 1;
    }
    > .zeroUI-icon {
      order: 2;
      margin-left: 4px;
      margin-right: 0;
    }
  }
  .loading {
    animation: $spinAnimation;
  }
  &-primary {
    background: $--primary-color;
    border: none;
    color: white;
    > .zeroUI-icon {
      fill: white;
    }
  }
  &-dashed {
    border-style: dashed;
  }
  &-text {
    border: none;
  }
  &-danger {
    background: $--error-color;
    color: white;
    border: none;
  }
  &-circle {
    padding: 0;
    border-radius: 50%;
    width: $btn-height-base;
    > .zeroUI-icon {
      margin: 0;
    }
    &-large {
      width: $btn-height-lg;
    }
    &-small {
      width: $btn-height-sm;
    }
  }
}