@import "../index";

.zeroUI-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-base;
  height: $btn-height-base;
  padding: 0 1em;
  vertical-align: middle;
  border-radius: $--border-radius;
  border: 1px solid $--border-color;
  background: $--button-bg;

  &-large {
    height: $btn-height-lg;
    font-size: $font-size-lg;
  }

  &-small {
    height: $btn-height-sm;
    font-size: $font-size-sm;
  }

  &:hover:not([disabled]) {
    border-color: $--border-color-hover;
  }
  &:active:not([disabled]) {
    background: $--button-active-bg;
  }
  &:focus:not([disabled]) {
    outline: none;
  }
  > .zeroUI-icon {
    order: 1;
    margin-right: 4px;
  }
  &-content {
    order: 2;
  }
  &-right {
    > .zeroUI-button-content {
      order: 1;
    }
    > .zeroUI-icon {
      order: 2;
      margin-left: 4px;
      margin-right: 0;
    }
  }
  &-loading {
    position: relative;
    > .zeroUI-icon {
      animation: $spinAnimation;
    }
    &::before {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      z-index: 1;
      background: #fff;
      border-radius: inherit;
      opacity: .45;
      -webkit-transition: opacity .2s;
      transition: opacity .2s;
      content: '';
      pointer-events: none;
    }
  }
  &-primary:not([disabled]) {
    background: $--primary-color;
    border: none;
    color: white;
    > .zeroUI-icon {
      fill: white;
    }
  }
  &-dashed {
    border-style: dashed;
  }
  &-text {
    border: none;
  }
  &-danger:not([disabled]) {
    background: $--error-color;
    color: white;
    border: none;
  }
  &-circle {
    padding: 0;
    border-radius: 50%;
    width: $btn-height-base;
    > .zeroUI-icon {
      margin: 0;
    }
    &-large {
      width: $btn-height-lg;
    }
    &-small {
      width: $btn-height-sm;
    }
  }

  &-disabled {
    cursor: not-allowed;
    > * {
      pointer-events: none;
    }
    background-color: $btn-disabled-color;
  }
}