.zeroUI-tooltip {
    &-popper {
        background: rgba(0, 0, 0, 0.75);
        color: #fff;
        border-radius: 4px;
        word-break: break-word;
        min-width: 30px;
        padding: 6px 8px;
        border: 1px solid;
        position: absolute;
    }
}
