[class^=zeroUI-] {
  box-sizing: border-box;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}

$padding-left: 20px;
$lighten-border: 1px solid lighten(#ccc, 10%);
$box-shadow-color: #f0f1f2;

// 中性色-浅色背景
$title-text-color-white-bg: lighten(black, 85%);
$primary-text-color-white-bg: lighten(black, 65%);
$second-primary-text-color-white-bg: lighten(black, 45%);
$disabled-color-white-bg: lighten(black, 25%);
$border-color-white-bg: lighten(black, 15%);
$dividers-color-white-bg: lighten(black, 6%);
$background-color-white-bg: lighten(black, 4%);
$table-header-color-white-bg: lighten(black, 2%);

// 中性色-深色背景
$title-text-color-dark-bg: lighten(white, 85%);
$primary-text-color-dark-bg: lighten(white, 65%);
$second-primary-text-color-dark-bg: lighten(white, 45%);
$disabled-color-dark-bg: lighten(white, 30%);
$border-color-dark-bg: lighten(white, 20%);
$dividers-color-dark-bg: lighten(white, 12%);
$background-color-dark-bg: lighten(white, 8%);
$table-header-color-dark-bg: lighten(white, 4%);

// 功能色
$green-6: #52c41a;
$gold-6: #faad14;
$red-5: #ff4d4f;

// cyan 明青色系
$cyan-6: #13c2c2;
$cyan-1: #e6fffb;
$cyan-5: #36cfc9;
$cyan-7: #08979c;
$cyan-8: #006d75;

//品牌色
$brand-color: $cyan-6;
$selected-background: $cyan-1;
$hover-color: $cyan-5;
$normal-color: $cyan-6;
$click-color: $cyan-7;

//功能色
$func-link-color: $cyan-6;
$func-success-color: $green-6;
$func-warn-color: $gold-6;
$func-error-color: $red-5;

// 从 zeroview 拷贝过来的全局 scss 变量
$--button-height: 32px;
$--font-size: 14px;
$--button-bg: #fff;
$--primary-color: #2d8cf0;
$--button-active-bg: #eee;
$--border-radius: 4px;
$--color: #333;
$--border-color: #999;
$--border-color-hover: #666;
$active-color: rgb(24, 144, 255);
$active-color-light: rgba(24,144,255,0.1);
$active-bg: #e6f7ff;

$--success-color: #19be6b;
$--warn-color: #f90;
$--error-color: #ed4014;
$--info-color: #2db7f5;

$height: 32px;
$border-color: #999;
$border-color-hover: #666;
$border-color-1: #ccc;
$border-color-ant-design: #ebedf0;
$border-radius: 4px;
$font-size: 12px;
$box-shadow-color: rgba(10, 7, 7, 0.5);
$error-color: #f1453d;

$bg-white: #fff;
$bg-black: #000;
$bg-gray-light: #ccc;

$disabled-color: lighten(gray, 20%);

$toast-bg: rgba(0, 0, 0, 0.75);
$font-size: 14px;
$toast-height: 40px;
$animation-duration: 300ms;

$table-border-color: rgb(232,232,232);
$table-strip-color: #fafafa;
$table-row-hover-color: rgb(230, 247, 255);

%box-shadow {
  box-shadow: 0 0 6px 0 #ccc;
}
%pos-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
%text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

$spinAnimation: spin 2s infinite linear;

