.zeroui-tree {
    &-item {
        outline: 1px solid;
    }
    &-label {
        display: inline-block;
        padding: 4px;
        &:hover {
            background-color: #eee;
            cursor: pointer;
        }
    }
}
