@import '../index.scss';

.zeroui-tree {
    &-item {
        &-checkbox-wrapper {
            position: relative;
            & > .zeroui-tree-item-checkbox-indeterminate {
                @extend %checkbox-indeterminate;
            }

            & > input[type='checkbox'] {
                @extend %checkbox-base;
            }
        }
    }
    &-label {
        display: inline-block;
        padding: 4px;
        &:hover {
            background-color: #eee;
            cursor: pointer;
        }
    }

    &-expand-span {
        font-size: 10px;
        margin: 0 5px;
    }
}
