@import "../../components/index.scss";

@mixin a {
    height: 40px;
    line-height: 40px;
    text-align: center;
    &:nth-child(even) {
        background-color: $cyan-3;
    }
    &:nth-child(odd) {
        background-color: $cyan-5;
    }
}

.zeroUI-grid-example {
    .zeroUI-row {
        margin: 20px 0;
        color: #fff;
    }
    .col-with-bg {
        .zeroUI-col {
            @include a;
            
        }
    }
    .gutter-div {
        @include a;
    }
    
}

.row-padding-10 {
    padding: 10px 0;
    background: #ccc;
}
.row-padding-20 {
    padding: 20px 0;
    background: #ccc;
}


.height-diff {
    .zeroUI-col {
        &:nth-child(1) {
            height: 60px;
        }
        &:nth-child(2) {
            height: 110px;
        }
        &:nth-child(3) {
            height: 80px;
        }
        &:nth-child(4) {
            height: 100px;
        }
    }
}