@import '../../components/index.scss';
.zeroUI-menu-example {
    .zeroUI-menu {
        border: none;
        border-right: 1px solid $brand-color;
    }
    .zeroUI-menu-horizontal {
        border: none;
    }
}
