@import '../index.scss';

$hover-color: lightseagreen;
$default-border-color: #ccc;

.zeroUI-number-input {
    appearance: textfield;
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    border: 1px solid $default-border-color;
    width: 100px;
    &:focus,
    &:hover,
    &[fake-focus='true'] {
        border-color: $hover-color;
        outline: none;
        cursor: pointer;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        appearance: none;
    }

    &-wrapper {
        position: relative;
        overflow: hidden;
        &-disabled {
            & > .zeroUI-number-input {
                &:hover {
                    cursor: not-allowed;
                    border-color: $default-border-color;
                }
                &[fake-focus='true'] {
                    border-color: $default-border-color;
                }
            }
        }
    }

    &-handler-lane {
        position: absolute;
        right: 0;
        top: -2px;
        bottom: -2px;
        height: 32px;
        line-height: 32px;
        display: inline-flex;
        flex-direction: column;
        width: 30px;
        border-left: 1px solid $default-border-color;
        justify-content: center;
        user-select: none;
    }

    &-handler {
        width: 100%;
        text-align: center;
        height: 18px;
        line-height: 18px;
        font-size: 10px;
        transition: all 300ms;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            & > .zeroUI-icon {
                fill: $hover-color;
            }
        }
        & > .zeroUI-icon {
            fill: $default-border-color;
        }
        &-disabled {
            &:hover {
                cursor: not-allowed;
                & > .zeroUI-icon {
                    fill: $default-border-color;
                }
            }
        }
    }

    &-handler-plus {
        border-bottom: 1px solid $default-border-color;
    }
}
