.zeroUI-notification-wrapper {
    border: 1px solid red;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 200px;
    padding: 10px;
}

.zeroUI-notification {
    border: 1px solid blue;
    padding: 10px 20px;
    background: #fff;
}
