@import '../index';

.zeroUI-notification-container {
    position: relative;
}

.zeroUI-notification-item-lane {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
}

// @keyframes fadeIn {
//     from {
//         opacity: 0;
//     }

//     to {
//         opacity: 1;
//     }
// }

// @keyframes fadeOut {
//     0% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0;
//     }
// }

.zeroUI-notification-item-wrapper {
    margin-bottom: 10px;
    // animation: fadeIn 300ms;
    position: relative;
    transition: opacity 1000ms;
    background-color: lightblue;
}

.zeroUI-notification-item-wrapper[data-close] {
    // animation: fadeOutUp 300ms;
}

.zeroUI-notification {
    padding: 10px;
    position: relative;
    border-radius: 4px;
    min-width: 240px;
    &-close-icon {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 1.2em;
    }
    @extend %box-shadow;
    transition: all 300ms;
}
