$default-color: #ccc;
$rated-color: #fadb14;

.zeroUI-rate {
    &-star {
        width: 28px;
        height: 32px;
        color: $default-color;
        display: inline-block;
        padding: 4px;
        & .zeroUI-icon {
            fill: $default-color;
            font-size: 1.2em;
            display: inline-block;
            transition: all 300ms;
            &:hover {
                cursor: pointer;
            }
        }
        .zeroUI-rate-custom-icon {
            color: $default-color;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &-disabled {
        & .zeroUI-icon,
        &-custom-icon {
            &:hover {
                cursor: unset;
            }
        }
    }
    &-star-full {
        & .zeroUI-icon {
            fill: $rated-color;
            transform: scale(1.2);
        }
        .zeroUI-rate-custom-icon {
            color: $rated-color;
            transform: scale(1.2);
            display: inline-block;
            .zeroUI-icon {
                transform: unset;
            }
        }
    }
    &-half-wrapper {
        position: relative;
        // border: 1px solid yellowgreen;
        display: inline-flex;
        // padding: 4px;
        // width: 28px;
        // height: 32px;
        padding: 0;
        // margin-right: -30px;
        overflow: hidden;
        &:hover {
            z-index: 10;
            // background-color: rosybrown;
        }
    }
    &-star-first {
        // border: 1px solid red;
        overflow: hidden;
        display: inline-block;
        position: relative;
        // background-color: $default-color;
        width: 30px;
        height: 32px;
        & .zeroUI-icon {
            fill: $default-color;
            position: absolute;
            left: 50%;
            transform: translateX(25%);
            &:hover {
                fill: $rated-color;
            }
        }
    }
    &-star-second {
        // padding: 0;
        width: 30px;
        height: 32px;
        position: relative;
        // background-color: pink;
        display: inline-block;
        // border: 1px solid purple;
        overflow: hidden;
        & .zeroUI-icon {
            fill: $default-color;
            position: absolute;
            right: 50%;
            transform: translateX(-25%);
            &:hover {
                fill: $rated-color;
            }
        }
    }
}
