@import '../index.scss';

$item-default-padding-left: 14px;
$label-default-padding-left: 14px;
$item-default-padding-top: 8px;
$item-default-padding-bottom: 8px;
$item-default-margin-top: 5px;
$item-default-margin-bottom: 5px;
$defalt-width: 168px;

@mixin on-hover {
    &:hover {
        cursor: pointer;
        color: $brand-color;
        .zeroUI-icon {
            fill: $brand-color;
        }
    }
}

@mixin default-padding {
    padding-top: $item-default-padding-top;
    padding-bottom: $item-default-padding-bottom;
}

@mixin default-margin {
    margin-top: $item-default-margin-top;
    margin-bottom: $item-default-margin-bottom;
}

@mixin vertical-and-inline-menu-item-base-style {
    @include default-padding();
    @include default-margin();
}

@mixin horizontal-menu-item-base-style {
    @include default-padding();
}

@mixin menu-item-base-style {
    @include on-hover();
    &-selected {
        background-color: $selected-background !important;
        color: $brand-color;
    }
}

@mixin submenu-popup-wrapper-base-style {
    background: #fff;
    padding: 4px 0;
    @extend %box-shadow;
    min-width: $defalt-width;
    position: absolute;
    border-radius: 4px;
    z-index: 10;
}

%indicator-line-base-style {
    content: '';
    display: inline-block;
    background: $brand-color;
    position: absolute;
}

.zeroUI-menu {
    min-width: $defalt-width;
    user-select: none;
    display: inline-block;
    border: 1px solid;
    &-group {
        &-label {
            font-size: 14px;
            color: #ccc;
            @include default-padding();
        }
    }
    &-item {
        @include menu-item-base-style();
    }
    &-inline {
        .zeroUI-submenu {
            &-label[data-visible='false'] {
                & > span > svg {
                    transform: rotate(180deg);
                }
            }
        }
        .zeroUI-menu-item {
            position: relative;
            margin-right: 4px;
            @include vertical-and-inline-menu-item-base-style();
        }
        .zeroUI-menu-item-selected {
            &:after {
                top: 0;
                bottom: 0;
                right: -4px;
                width: 4px;
                @extend %indicator-line-base-style;
            }
        }
    }
    &-vertical {
        .zeroUI-submenu {
            &-label {
                & > span > svg {
                    transform: rotate(-90deg);
                }
            }
        }
        .zeroUI-menu-item {
            @include vertical-and-inline-menu-item-base-style();
        }
    }
    &-horizontal {
        display: flex;
        .zeroUI-menu-item {
            @include horizontal-menu-item-base-style();
        }
        & > .zeroUI-menu-item,
        & > li > .zeroUI-submenu {
            margin-left: 4px;
            margin-right: 4px;
            position: relative;
            &:hover,
            &[is-highlighted='yes'] {
                &:after {
                    bottom: -4px;
                    left: 0;
                    right: 0;
                    height: 4px;
                    @extend %indicator-line-base-style;
                }
            }
        }
    }
}

.zeroUI-submenu {
    position: relative;
    &-label {
        @include on-hover();
        @include default-padding();
        padding-right: $item-default-padding-left;
        & > span {
            float: right;
            margin-left: 16px;
        }
        & > span > svg {
            transition: all 300ms;
        }
    }
    &[is-highlighted='yes'] > &-label {
        color: $brand-color;
        .zeroUI-icon {
            fill: $brand-color;
        }
    }

    &-vertical {
        .zeroUI-submenu-popup-wrapper {
            right: 10px;
            left: 100%;
            top: 0;
            margin-left: 4px;
            &[data-visible='true'] {
                @include submenu-popup-wrapper-base-style();
            }
        }
    }
    &-horizontal {
        .zeroUI-submenu-label {
            & > span > svg {
                display: none;
            }
        }
        .zeroUI-submenu-popup-wrapper {
            left: 0;
            right: 0;
            top: 45px;
            &[data-visible='true'] {
                @include submenu-popup-wrapper-base-style();
            }
        }
        .zeroUI-menu-item {
            position: relative;
            &:hover {
                @include on-hover();
            }
        }
    }
}
