@import '../index.scss';

$item-default-padding-left: 14px;
$label-default-padding-left: 14px;
$item-default-padding-top: 5px;
$item-default-padding-bottom: 5px;
$defalt-width: 168px;

@mixin on-hover {
    &:hover {
        background-color: $selected-background;
        cursor: pointer;
    }
}

@mixin default-padding {
    padding-top: $item-default-padding-top;
    padding-bottom: $item-default-padding-bottom;
}

.zeroUI-menu {
    min-width: $defalt-width;
    user-select: none;
    display: inline-block;
    border: 1px solid;
    // padding-left: $item-default-padding-left;
    &-group {
        &-label {
            // padding-left: $label-default-padding-left;
            font-size: 14px;
            color: #ccc;
        }
        &-item-wrapper {
            // border: 1px solid red;
        }
    }
    &-item {
        @include default-padding();
        @include on-hover();
        // padding-left: $item-default-padding-left;
        &-selected {
            background-color: $brand-color !important;
        }
    }
}

.zeroUI-submenu {
    &-label {
        @include on-hover();
        @include default-padding();
        padding-right: $item-default-padding-left;
        & > span {
            float: right;
        }
        & > span > svg {
            transition: all 300ms;
        }
    }
    &-sub-item-selected > &-label {
        color: $brand-color;
    }
    &-label[data-visible="false"] {
        & > span > svg {
            transform: rotate(180deg);
            color: red;
        }
    }
}